{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        juxt/crux-core {:mvn/version "20.04-1.8.1-alpha"}
        metosin/reitit-http {:mvn/version "0.3.10"}
        metosin/reitit-interceptors {:mvn/version "0.3.10"}
        metosin/reitit-sieppari {:mvn/version "0.3.10"}
        metosin/reitit-spec {:mvn/version "0.3.10"}
        metosin/spec-tools {:mvn/version "0.9.3"}
        buddy/buddy-sign {:mvn/version "3.0.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.0"}
        cambium/cambium.core {:mvn/version "0.9.3"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        com.wsscode/pathom {:mvn/version "2.2.28"}
        clj-http/clj-http {:mvn/version "3.10.0"}}
 :aliases {:dev {:extra-paths ["dev" "dev-resources"]
                 :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
                              cambium/cambium.core {:mvn/version "0.9.3"}
                              cambium/cambium.codec-simple {:mvn/version "0.9.3"}
                              cambium/cambium.logback.core {:mvn/version "0.4.3"}
                              mount/mount {:mvn/version "0.1.16"}
                              ring/ring-jetty-adapter {:mvn/version "1.7.1"}
                              juxt/crux-rocksdb {:mvn/version "20.04-1.8.1-alpha"}
                              metosin/reitit-dev {:mvn/version "0.3.10"}}}
           :test {:extra-paths ["test"]}
           :clj-tests {:extra-paths ["test"]
                       :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}
                                    lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}
                                    lambdaisland/kaocha-cloverage {:mvn/version "0.0-41"}}}
           :lint {:extra-deps {avisi-apps/fmt {:git/url "git@github.com:avisi-apps/fmt.git"
                                               :sha "b41d298f52cae6fd91aa908b36699a46ac38bc05"}}
                  :main-opts ["-m" "avisi-apps.fmt.main" "check"]}
           :fix {:main-opts ["-m" "avisi-apps.fmt.main" "fix"]}}}
